*{
    text-align: right;
    color: white;
}
body{
    font-size: 150%;
}
button{
    background-color: orange;
    border-radius: 20px;
    font-size: 150%;
}
body{
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}